.borda {
    border: 2px solid transparent;
}


#firstSection {
    color: #4d3f30;
    border-bottom: 2px solid;
    padding-bottom: 90px;
    position: relative;
}

#firstSection .img-topo,
#firstSection .img-bottom {
    max-width: 200px;
}

#firstSection .img-topo {
    position: absolute;
    z-index: -1;
    top: 0;
}

#firstSection .img-perfil {
    display: flex;
    margin: auto;
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid #c2ad91;
    background-image: url("../catalogo-img/IMG_2090.JPG");
    background-position: center;
    background-size: 120%;
}

#firstSection p {
    font-family: 'Glamore', sans-serif;
    font-size: 2.5em;
}

#firstSection div>h3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 300px;
    background: rgb(145, 118, 84);
    background: linear-gradient(0deg, rgba(145, 118, 84, 1) 0%, rgba(255, 249, 242, 1) 35%, rgba(255, 249, 242, 1) 71%, rgba(145, 118, 84, 1) 100%);
    border: 2px solid #c2ad91;
}

#firstSection .img-nome {
    position: absolute;
    top: 60px;
    right: 0;
    width: 120px;
    z-index: -1;

}

#firstSection div>a {
    display: flex;
    margin-right: 100px;
    border: 2px solid;
    padding: 10px 80px;
    color: #4d3f30;
    z-index: -1;
}

#firstSection .img-bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -1;
}







/* Segunda section  ----------------------------------------------------------- */

#secondSection {
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #4d3f30;
    border-bottom: 1px solid #4d3f30;
    position: relative;
}

#secondSection .img-topo {
    position: absolute;
    z-index: -1;
    width: 300px;
    top: 0;
    right: 0;
    filter: blur(5px);
}

#secondSection h3 {
    font-family: 'Glamore', sans-serif;
    font-weight: bold;
    margin: 50px auto;
}

#secondSection .item {
    min-width: 200px;
    max-width: 600px;
    height: 200px;
    margin: 0 auto 40px auto;
    display: flex;
}


#secondSection .item .descricao {
    margin: 10px auto 40px auto;
    border-radius: 30px;
    border: 2px solid #917654;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#secondSection .item .descricao p {
    font-size: 1.2em;
    line-height: 1.1;
}

#secondSection .item .descricao .valor {
    display: flex; /* Organiza os elementos em coluna */
    justify-content: space-between; /* Espalha o conteúdo na altura disponível */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    position: relative;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    background: #917654;
    background: -webkit-linear-gradient(to bottom, #ffffff, #917654); 
    background: linear-gradient(to bottom, #ffffff, #917654);
    bottom: -30px;
    left: 50px;
}

#secondSection .item .descricao .valor .preco {
    font-family: 'Glamore', sans-serif;
    font-size: 1.4em;
    margin-bottom: 5px; /* Espaço entre o preço e a manutenção */
}

#secondSection .item .descricao .valor .manutencao {
    font-size: 0.9em; /* Ajusta o tamanho da fonte da manutenção */
    font-weight: bold;
}


#secondSection .item .image {
    width: 280px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #917654;
    position: relative;
    left: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#secondSection .item .image:nth-child(1) {
    background-image: url('../img/cilios/WhatsApp%20Image%202024-05-16%20at%2019.28.14.jpeg');
}

#secondSection .item .image:nth-child(2) {
    background-image: url('../img/cilios/WhatsApp%20Image%202024-05-16%20at%2019.28.15.jpeg');
}


#secondSection .item h4,
p {
    text-align: start;
    margin-left: 50px;
}

#secondSection .item h4 {
    margin-top: 20px;
    font-family: 'Glamore', sans-serif;
    font-weight: bold;
    text-wrap: nowrap;
}