* {
    margin: 0;
    padding: 0;
    font-size: large;
    
}

:root {
    --primary-color: #9d5a4d;
    --secondary-color: #e6dad1;
    --light-color: white;
}

main{
    background-color: var(--secondary-color);
    padding: 0 20px 0 20px;
}

footer{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px;
}

.borda {
    border: 2px solid red;
}

.navbar .navbar-expand-md {
    background-color: var(--primary-color); 
    border-bottom: 2px solid var(--secondary-color); 
    padding: 0 15px;
}

#navbar-example2 {
    background-color: var(--secondary-color);
}

#navbar-example2 .nav-link {
    color: var(--primary-color);
    border-radius: 10px;
}

#navbar-example2 .nav-link:hover {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--secondary-color);
}

#navbar-example2 .nav-pills .nav-link.active {
    background-color: var(--primary-color);
    color: var(--light-color);
}

#navbar-example2 .nav-pills .nav-link.active:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}


#scrollspyHeading1 {
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
    .container{
        max-width: 900px;
    }
    h1,
    p {
        font-family: "PT Serif", serif;
        font-style: normal;
    }

    h3 {
        font-family: "Playfair Display", sans-serif;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #9d5a4daf ;
        color: var(--secondary-color);
        border-radius: 10px;
    }

    .perfil{
        border-radius: 20px;
        max-height: 275px;
        margin: 40px;
    }

    .lash{
        width: 150px;
    }
    
    a {
        color: var(--secondary-color);
    }
}

#scrollspyHeading2 {
    border-radius: 6px;
    color: var(--light-color);
    background-color: var(--primary-color);
    font-family: "Open Sans", serif;
    .img-1{
        width: 300px;
        border-radius: 20px;
    }
    .img-2{
        height: 300px;
    }
}

#scrollspyHeading3 {
    color: var(--primary-color);
    background-image: url('../img/image/bg-pg3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    ul {
        list-style-type: none;
        padding-left: 0;

    }

    ul li {
        background-image: url('../img/icon-list.png');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 0 50%;
        padding-left: 30px;
        line-height: 24px;
    }

    .container-fluid {
        width: 50%;
    }

    img {
        width: 200px;
    }
}

#scrollspyHeading4{
    color: var(--primary-color);
    justify-content: space-evenly;
    img {
        width: 70%;
        margin-left: 5px;
        border: 1px solid var(--primary-color);  
        transition: transform .5s;        
    }
    img:hover {
        transform: scale(1.1);
        margin-left: 5px;
        border: 1px solid var(--primary-color);          
    }

    p{
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
    }
    
}


#scrollspyHeading5 {
    color: var(--light-color);
    background-color: var(--primary-color);
    border-radius: 8px;
    font-family: "Open Sans", serif;
    .btn {
        background-color: var(--secondary-color);
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px; 
        text-align: center; 
        text-decoration: none;
        display: inline-block; 
        transition: background-color 0.3s; 
    }
    
    .btn:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        transition: background-color 0.3s ease-out;
    }
    .btn:active {
        transform: scale(0.9);
    }
    
}

.gallery {
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
    .gallery-item {
        height: 250px;
        width: 200px;
        background-position: center; 
        background-size: cover; 
        border-radius: 8px;
        transition: background-size 0.3s, transform 0.3s ease-in-out;
    }
    .gallery-item:hover {
        background-size: 130%;
        transform: scale(1.1); 
    }
    
}

.gallery-item:nth-child(1) {
    background-image: url('../img/cilios/WhatsApp Image 2024-05-16 at 19.28.14.jpeg');
}

.gallery-item:nth-child(2) {
    background-image: url('../img/cilios/WhatsApp Image 2024-05-16 at 19.28.15.jpeg');
}

.gallery-item:nth-child(3) {
    background-image: url('../img/cilios/WhatsApp Image 2024-05-16 at 19.28.14 (1).jpeg');
}

.gallery-item:nth-child(4) {
    background-image: url('../img/cilios/WhatsApp Image 2024-05-16 at 19.28.14 (2).jpeg');
}


#scrollspyHeading6 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Playfair Display", serif;

    a {
        color: var(--primary-color);
    }

}