*{
    margin: 0;
    padding: 0;
}

.borda{
    border: 2px solid red;
}

:root {
    
}

.navbar-expand-sm{
    background-color: #3d3d3d;
    max-height: auto;
    & .navbar-brand, ul{
        color: #fff;
    }
    & .nav-item{
        color: #fff;
    }
    .navbar-brand:hover{
        color: #ececec;
    }
}

.inform{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.cadastro{
    max-width: 800px;
    border: 2px solid #ebc896;

    b{
        animation: bloco 1s;
    }

    .ficha{
        padding: 5px;
        background-color: #917b5d;
        color: #fff;
        margin-top: -35px;
        
    }

    form{
        max-width: 800px;
        
        .input-form {
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
    
            input {
                width: 100%;
                background: none;
                border: none;
                border-bottom: 2px solid #ebc896;
            }
    
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
    
            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
    
            input[type="number"]{
                
                width: auto;
                background: none;
                border: none;
                border-bottom: 2px solid #ebc896;
            }
            input:focus {
                outline: none;
                border-bottom-color: #5e3803;
            }
            #idade{
                width: 30px;
            }
    
            textarea{
                height: 30px;
                background: none;
                border: none;
                border-bottom: 2px solid #ebc896;
            }
    
            textarea:focus {
                outline: none;
                border-bottom-color: #5e3803;
            }
        }
        .avaliacao, .questionario{
            border: 2px solid #ebc896;
            
            .block{
                background-color: #ebc896;
                width: 200px;
                margin-top: -12px;
            }
            .radio-group input[type="radio"] {
                clip: rect(0 0 0 0);
                clip-path: inset(100%);
                position: absolute;
            }            
            .radio-group input[type="radio"]:checked + span {
                box-shadow: 0 0 0 0.0625em #fcd7a4;
                background-color: #857155;
                border-radius: 5px;
                color: #ffffff;
            }            
            label span {
                display: block;
                cursor: pointer;
                background-color: #fff;
                padding: 0.375em .75em;
                border-radius: 5px;
                box-shadow: 0 0 0 0.0625em #b5bfd9;
                letter-spacing: .05em;
                color: #000000;
                transition: background-color .5s ease;
            }            
        }
    }
    & .recomendacoes{
        max-width: 700px;
        border: 2px solid #ebc896;
        gap: 20px;

        & .block{
        height: auto;
        width: 300px;
        margin-top: -30px;
        }

        & .enfase{
            & li {
                list-style: "-> "
            }
        }

        & li {
            list-style: "- ";     
        }
    }
}

.galeria{
    height: 80px;
    
}

@keyframes bloco {
    0% {
        opacity: 0; /* Texto totalmente transparente */
        
    }
    100% {
        opacity: 1; /* Texto totalmente visível */
        
    }
}

@keyframes fotos {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

